.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  border: 1px solid var(--color-primary);
  padding: 0.7rem 2rem;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
}

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(var(--color-primary), var(--color-primary));
  border-radius: 0.9rem;
  width: 5px;
  height: 100%;
  z-index: 10;
  opacity: 0;

  transition: all 0.3s;
}

.btn:hover {
  text-decoration: none;
}

.btn:hover::after {
  opacity: 1;
  width: 100%;
}

.btn__text {
  position: relative;
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  margin: 0;

  z-index: 20;
  transition: all 0.3s;
}

.btn:hover .btn__text {
  color: var(--color-white);
}

@media (max-width: 56.25em) {
  .btn,
  .btn:link,
  .btn:visited {
    padding: 0.5rem 1.2rem;
  }

  .btn__text {
    font-size: 1rem;
  }
}

@media (max-width: 37.5em) {
  .btn,
  .btn:link,
  .btn:visited {
    padding: 0.3rem 1rem;
  }

  .btn__text {
    font-size: 0.8rem;
  }
}
