.links {
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;

  padding: 0;
}

.links__link {
  margin: 0.2rem 0;
}

.links__link a {
  color: var(--color-grey-light);
  text-decoration: none;
  font-size: 1.4rem;

  transition: all 0.2s;
}

.links__link a:hover {
  color: var(--color-white);
}
