.logo {
  position: absolute;
  top: 3rem;
  left: 15rem;
  width: 6rem;
  height: 6rem;
  z-index: 1;
}

@media (max-width: 56.25em) {
  .logo {
    left: 8rem;
  }
}

@media (max-width: 37.5em) {
  .logo {
    left: 7rem;
  }
}
