.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 30rem;
  overflow: hidden;
  font-size: 1.5rem;

  background-color: var(--color-primary);
}

.title {
  margin: 0 5rem 3rem;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--color-white);
  z-index: 1;
  line-height: 3rem;
}

.deco--top {
  position: absolute;
  top: -60%;
  left: 7rem;
  width: 30rem;
  height: 30rem;
}

.deco--bottom {
  position: absolute;
  bottom: -70%;
  right: 5rem;
  width: 30rem;
  height: 30rem;
}

.input {
  background-color: var(--color-primary-light);
  border: none;
  border-radius: 1rem;
  padding: 1rem 2.5rem;
  margin-right: 1.5rem;
  width: 30rem;
  color: var(--color-white);
}

.input::placeholder {
  color: var(--color-white);
  opacity: 0.8;
}

.input:focus {
  outline: none;
}

.btn {
  background-color: var(--color-white);
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2.5rem;

  transition: all 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(1);
}

@media (max-width: 56.25em) {
  .container {
    padding: 5rem 15rem;
  }

  .deco--top {
    position: absolute;
    top: -40%;
    left: 5rem;
    width: 18rem;
    height: 18rem;
  }

  .deco--bottom {
    position: absolute;
    bottom: -35%;
    right: 0rem;
    width: 18rem;
    height: 18rem;
  }

  .input {
    padding: 1rem 2.5rem;
    width: 25rem;
  }

  .btn {
    padding: 1rem 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .container {
    padding: 5rem 7rem;
  }

  .deco--top {
    position: absolute;
    top: -25%;
    left: 7rem;
    width: 18rem;
    height: 18rem;
  }

  .deco--bottom {
    position: absolute;
    bottom: -20%;
    right: -4rem;
    width: 15rem;
    height: 15rem;
  }
}
