.video {
}

.video iframe {
  border-radius: 1rem;
  width: 72rem;
  height: 40rem;
}

@media (max-width: 56.25em) {
}

@media (max-width: 37.5em) {
  .video iframe {
    border-radius: 1rem;
    width: 60rem;
    height: 40rem;
  }
}
