.icon {
  fill: var(--color-white);
  width: 1.5rem;
  height: 1.5rem;
}

.icon__container {
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;

  transition: all 0.3s;
}

.icon__container:hover {
  background-color: var(--color-primary);
}

@media (max-width: 56.25em) {
  .icon__container {
    padding: 0.7rem;
    margin-right: 0.7rem;
  }
}

@media (max-width: 37.5em) {
  .icon__container {
    padding: 0.5rem;
    margin-right: 0.5rem;
  }
}
