.container {
  padding: 3rem 10rem 0;
}

.container:first-child {
  padding-top: 2rem;
}

.list {
  position: relative;
}

.title {
  padding: 5rem;
  font-size: 2.5rem;
  color: var(--color-white);
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

@media (max-width: 56.25em) {
  .title {
    padding: 0rem;
    font-size: 2rem;
    margin-bottom: 0.7rem;
  }
}

@media (max-width: 37.5em) {
  .title {
    padding: 0rem;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .container {
    padding: 3rem 7rem 0;
  }
}
