.banner {
  position: relative;
}

.carousel-arrow {
  height: 4rem;
  width: 4rem;
  fill: var(--color-primary);
}

.logo {
  position: absolute;
  top: 3rem;
  left: 15rem;
  width: 6rem;
  height: 6rem;
  z-index: 1;
}

.nav {
  position: absolute;
  top: 4rem;
  right: 15rem;
  z-index: 1;
}
