.container {
  display: flex;
  background-color: var(--color-black);
  border-radius: 2rem;
  width: 35rem;
  border: 1px solid transparent;
  transition: all 0.3s;
  margin: 0 1rem;
}

.poster__container {
  width: 11rem;
  height: 15rem;
  margin: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
}

.poster__image {
  width: 11rem;
  height: 15rem;
  transition: all 0.3s;
}

.details {
  width: 17rem;
  margin: 1rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.title {
  color: var(--color-white);
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.text {
  color: var(--color-grey);
  margin: 0;
}

.rating {
  display: flex;
  align-items: center;
  height: 2.5rem;
  background-color: var(--color-brown);
  border-radius: 100px;
  width: 6.5rem;
}

.rating__text {
  color: var(--color-primary);
  margin: 0;
  margin-left: 1rem;
}

.rating__icon-container {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-black);
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  border: 1px solid var(--color-primary);
  padding: 0.7rem 2rem;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
}

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(var(--color-primary), var(--color-primary));
  border-radius: 0.9rem;
  width: 5px;
  height: 100%;
  z-index: 10;
  opacity: 0;

  transition: all 0.3s;
}

.btn:hover {
  text-decoration: none;
}

.btn:hover::after {
  opacity: 1;
  width: 100%;
}

.btn__text {
  position: relative;
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  margin: 0;

  z-index: 20;
  transition: all 0.3s;
}

.btn:hover .btn__text {
  color: var(--color-white);
}

.container:hover .poster__image {
  transform: scale(1.1);
}

.container:hover {
  border: 1px solid var(--color-primary);
}
